<div class="row profile">
  <div class="col-md-3">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div class="profile-userpic">
        <img
          src="<%= user['images']['original_url'] %>"
          class="img-responsive"
          alt=""
        />
      </div>

      <!-- SIDEBAR USER TITLE -->
      <div class="profile-usertitle">
        <div class="profile-usertitle-name">
          <%= user['name'] %>
        </div>
        <div class="profile-usertitle-job">
          <%= user['email'] %>
        </div>
      </div>
      <div class="portlet light bordered">
        <!-- STAT -->
        <div class="row list-separated profile-stat">
          <div class="col-md-4 col-sm-4 col-xs-6">
            <div class="profile-stat-title">Date of Birth</div>
            <div class="profile-stat-text"><%= user['date_of_birth'] %></div>
            <% if check_params %>
            <div class="change-reset-password">
             
              <button
                class="btn btn-primary my-2 my-sm-0"
                type="button"
                data-toggle="modal"
                data-target="#changePasswordModal"
              >
                Change Password
              </button>
             
              <button
                class="btn btn-primary my-2 my-sm-0"
                type="button"
                data-toggle="modal"
                data-target="#resetPasswordModal"
              >
                Reset Password
              </button>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="profile-content">
      <form class="form-inline form-control-lg-s" action="/user/widgets/search">
        <div class="row header user-search">
          <div class="col-6 search-item-bar">
            <div class="input-group-prepend select-tag user-select-tag">
              <select
                class="custom-select mr-sm-2"
                id="inlineFormCustomSelect"
                name="id"
              >
                <option value="<%=user['id']%>">All</option>
              </select>
            </div>
            <div class="input-group mb-3 user-search-input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Search <%= user['name']%> widgets"
                name="term"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="submit"
                  data-disable-with="Searching..."
                >
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="user-search-content">
        <%= render "user/user_widget_search_result", widget: @widgets %>
      </div>
    </div>
  </div>
</div>
