<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title title-name"><%= widget['name'] %></h5>
      <p class="card-text">
        <%= widget['description'] %>
      </p>
    </div>
    <div class="card-text card-text-user">
      <p class="card-text-name">
        Created by: <%= widget['user']['name'] %>
      </p>
    </div>
    <div class="widget-actions">
      <a href="<%= edit_widget_path(widget['id']) %>" class="card-link">Edit</a>
      <a href="<%= delete_widget_path(widget['id'])%>" class="card-link">Delete</a>
    </div>
  </div>
</div>
