<div class="create-widget">
  <div class="create-widget-title">
    <h3>Create your widget</h3>
  </div>
  <%= form_with id: "create-widget-form", url: create_widget_path ,autocomplete: "off",
  remote: true do |f| %>
  <div class="invalid-feedback form-message"></div>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control", placeholder: "Title",
    autocomplete: "password"%>
    <div class="invalid-feedback name"></div>
  </div>
  <div class="form-group">
    <%= f.text_area :description, class: "form-control", placeholder:
    "Description", autocomplete: "password", rows: "10", cols: "50"%>
    <div class="invalid-feedback description"></div>
  </div>
  <div class="form-group">
    <div class="custom-control custom-radio custom-control-inline">
      <%= f.check_box :kind,  class: "custom-control-input", type: "radio",  id: "customRadioInline1", checked_value: "1", unchecked_value: "0"%>
      <label class="custom-control-label" for="customRadioInline1">Hidden Widget</label>
    </div>   
  </div>
  <div class="modal-footer">
    <%= f.submit 'Submit', class: "btn btn-primary", data: { disable_with:
    "Saving..." }%>
  </div>
  <% end %>
</div>
