<!DOCTYPE html>
<html>
  <head>
    <title>WidgetRails</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag 'application', media: 'all',
    'data-turbolinks-track': 'reload' %> <%= javascript_pack_tag 'application',
    'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <form class="form-control-lg" action="/widgets/search">
        <div class="row header">
          <div class="col">
            <a class="navbar-brand" href="<%= root_path%>">Widget</a>
          </div>
          <div class="col-6 search-item-bar">
            <div class="input-group-prepend select-tag">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="y">
                <option value="All">All</option>
                <option value="Me">Me</option>
              </select>
            </div>
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Search widgets"
                name="term"
                aria-label="Recipient's username"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit" data-disable-with="Searching...">
                  Search
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <% if current_user %>
      <div class="dropdown show">
        <a
          class="btn btn-secondary dropdown-toggle"
          href="#"
          role="button"
          id="dropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="<%= new_widget_path %>"
            >Create Widget</a
          >
          <a class="dropdown-item" href="<%= user_widget_path %>"
            >View Widgets</a
          >
          <a class="dropdown-item" href="<%= user_profile_path %>"
            >View Profile</a
          >
          <a class="dropdown-item" href="#" data-toggle="modal"
          data-target="#checkEmailModal" >Check Email</a
          >
          <%= form_with url: logout_user_path, class: "form-inline" ,remote:
          true do |f| %>
          <div class="modal-footer">
            <%= f.submit 'Logout', class: "dropdown-item" %>
          </div>
        </div>
      </div>

      <% end %> <% else %>
      <form class="form-inline">
        <button
          class="btn btn-primary my-2 my-sm-0"
          type="button"
          data-toggle="modal"
          data-target="#loginUserModal"
        >
          Login
        </button>
        <% end %>
      </form>
    </nav>
    <% if flash[:notice] %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
    <%= yield %>
  </body>

  <%= render "authentication/register_user_form" %> 
  <%= render "authentication/login_user_form" %>
  <%= render "authentication/reset_password" %>
  <%= render "authentication/change_password" %>
  <%= render "authentication/check_email" %>
</html>
